<nav class="red lighten-1 " role="navigation">
        <div class="nav-wrapper container">
                <i class="material-icons left">settings</i>
            <a id="logo-container" class="brand-logo">
                <span>ShopSafety</span>
            </a>
            <div class="text right "><span>Chinguacousy Secondary school</span></div>
        </div>
      </nav>

            <div class="container ">
              <br><br><br><br><br><br><br>
              <h1 class="header center red-text">ShopSafety</h1>
              <div class="row center">
                <h5 class="header col s12 red-text text-lighten-1">A way to track workshop training progress. Students can view their current details and access refresher videos. Teachers can edit a student's progress.</h5>
              </div>
              <br>
              <br>
              <div class="row center">
                    <a class="waves-effect waves-light btn-large social google red accent-4" (click)="signIn()">
                    <i class="fa fa-google left"></i> Sign in with google</a>
              </div>
              <br><br>
            </div>
            <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="../../bin/materialize.js"></script>
      <script src="js/init.js"></script>
    